/*Desktop View*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 73px;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 0.5s;
}

.navbar-nottransparent {
  padding-top: 0;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  transform: translateY(0px);
}

.navbar__container {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin-left: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  text-decoration: none;
}

.navbar__title {
}

.navbar__options {
  display: flex;
  max-width: 941px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar__option {
  text-decoration: none;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar__option :hover {
  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu__icon {
  color: #fff;
}

.navbar__title {
  max-width: 107px;
  width: 100%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 10px;
  }

  .btn--contact {
    max-width: 90px;
  }
}

/* @media (max-width: 768px) {
  .navbar__title {
    display: none;
  }
}
 */
@media (max-width: 576px) {
  .navbar {
    transform: translateY(0px);
  }
  .logo {
    width: 45px;
    height: 45px;
  }

  .btn--contact {
    display: none;
  }

  .navbar__options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }

  .navbar__options.navbar__options--active {
    background: #1b242f;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .mobile-menu__icon {
    width: 45px;
    height: 45px;
  }

  .navbar__option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .mobile-menu {
    display: block;
  }
}
